<ion-view title="Sign up" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page7">
  <ion-content padding="true" style="background: url(img/PO9lWmRA8wo6qpdI4QS3_trust_color.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="signUp-form3" class="list">
      <div>
        <img src="img/oHZphGILTW6itE1BF0nU_trust.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <label class="item item-input" id="signUp-input6">
        <span class="input-label">Email</span>
        <input type="text" placeholder="" ng-model="data.username">
      </label>
      <label class="item item-input" id="signUp-input7">
        <span class="input-label">Password</span>
        <input type="password" placeholder="" ng-model="data.password">
      </label>
      <button id="signUp-button5" ng-click="register()" class="button button-positive  button-block">Sign up</button>
      <a ui-sref="login" id="signUp-button6" class="button button-positive  button-block">I already have an account</a>
    </form>
  </ion-content>
</ion-view>